/* キャンセル完了画面 */
header{
    
    box-sizing: border-box;

    position: absolute;
    width: 1517px;
    height: 134px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border-bottom: 3px solid #FFA500;
}

.rogo{
    position: absolute;
    width: 249px;
    height: 69px;
    left: 42px;
    top: 30px;
}

#rogout{
    position: absolute;
    left: 79.58%;
    right: 2.01%;
    top: 38.81%;
    bottom: 20.15%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 8px rgba(47, 168, 79, 0.16));
}

/* ---------------------------- */
.container{

    top: 18%;
}

.main{/*再設定が完了致しました*/
    position: absolute;

    top:3%;
    left:25%;
    margin:10%;
}

/* イメージ画像 */
.image{
    position: relative;
    right:40px;
}




/* 〇〇〇〇病院 */




/* 受付ボタン */





/* 病院の紹介文 */
.box {
    width: 200px;                /* 横幅を200pxに指定 */
    height: 200px;               /* 横幅を200pxに指定 */
    border: 1px solid #000;      /* わかりやすくボーダーを引く */
    overflow-y: scroll;          /* 縦方向にスクロール可能にする */
  }




/* 診療時間・休診日 */





/* 休診日テーブル */





/* 診療時間詳細 */






/* 受付状況 */






/* 住所・地図 */






/* <受付ボタン */






/* 下の空白 */
.void{
    position: relative;
    background-color: #FFFFFF;
    top: 500px;
    height: 100px;
}