header{
    
    box-sizing: border-box;

    position: absolute;
    width: 1536px;
    height: 134px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border-bottom: 3px solid #FFA500;
}

.rogo{
    position: absolute;
    width: 249px;
    height: 69px;
    left: 42px;
    top: 30px;
}

#rogout{
    position: absolute;
    left: 79.58%;
    right: 2.01%;
    top: 38.81%;
    bottom: 20.15%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 8px rgba(47, 168, 79, 0.16));
}

.container{

    top: 18%;
}

.main{/*再設定が完了致しました*/
    position: absolute;

    top: 10%;
    left:30%;
    margin:10%;
}

.yoyaku-naiyo{
    position: relative;
    left: -370px;
    background-color: #eee;/* 背景色指定 */
    border-radius: 20px;/* 角丸指定 */
    width: 250%;               /* 幅指定 */
    height: 180px;           /* 高さ指定 */
}

.byoin-mei{
    position: relative;
    font-size:30px;
    left:20px;
}

.jushinsyamei{
    position: relative;
    font-size:30px;
    left:20px;
}

.hiduke{
    position: relative;
    font-size:30px;
    left:20px;
}

.uketuke-time{
    position: relative;
    font-size:30px;
    left:20px;
}

.uketuke-time{
    position: relative;
    font-size:30px;
    left:20px;
}

.message{
    position: relative;
    top:50px;
    left:-10%;
}

 /* 戻るボタン */
.btn-modoru{
    position:relative;
    top:125px;
    left:-25%;
}

/* 予約ボタン */
.btn-yoyaku{
    position:relative;
    top:85px;
    left:100%;
}

.button_solid019 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #30bee2;
    filter: drop-shadow(0px 2px 4px #ccc);
    border-radius: 3px;
    border-radius: 50px;
}
.button_solid019 a:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #FFF;
    border-right: 3px solid #FFF;
    transform: rotate(-130deg) translateY(-50%);
    position: absolute;
    top: 40%;
    right: 210px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
.button_solid019 a:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}

.button_solid019{
    position: relative;
    top: 895px;
    left: -150px;
    width: 300px;
    

    left: 25%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

}

.button_solid020 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #1cff4d;
    filter: drop-shadow(0px 2px 4px #ccc);
    border-radius: 3px;
    border-radius: 50px;
}
.button_solid020 a:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #FFF;
    border-right: 3px solid #FFF;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 46%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
.button_solid020 a:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}

.button_solid020{
    position: relative;
    top: 850px;
    left: 600px;
    width: 300px;

    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

}
