header{
    box-sizing: border-box;

    position: relative;
    width: 100%;
    height: 134px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border-bottom: 3px solid #FFA500;
}



.rogo{
  position: relative;
  width: 249px;
  height: 69px;
  left: 3%;
  top: 20%;
}


.logout{
  position: relative;
  bottom: 20%;
}

#logout{
  position: relative;
  left:90%;
  bottom: 20%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 8px rgba(47, 168, 79, 0.16));
} 


/* ---------------------------- */
.container{
    position: relative;
    top: 18%;
}



.main{/*再設定が完了致しました*/
    position: absolute;

    top:3%;
    left:25%;
    margin:10%;

}



/* イメージ画像 */
.image{
    padding: 20px;
    position: relative;
    right:40px;
    top: 20px;
}



/* 〇〇〇〇病院 */

.icon-home{
    position: relative;
    top: 63px;
    right: 50px;
    right: 50px;
}





.hos-info{
    position: relative;
    top: 70px;
}




.hos-name-1{


.hos-name-1{
    position: relative;
    font-size: 60px;
}

.hos-ka{
    position: relative;
    font-size:40px;
}



/* 受付ボタン */

.cp_ipselect {
  position: relative;
  width: 90%;
  margin: 2em auto;
  text-align: center;
    top: 100px;
  right: 150px;
}
.cp_sl02 {
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 10px 10px 10px 0;
  font-size: 18px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.cp_sl02:focus {
  outline: none;
  border-bottom: 1px solid rgba(0,0,0, 0);
}
.cp_ipselect .cp_sl02 {
  appearance: none;
  -webkit-appearance:none
}
.cp_ipselect select::-ms-expand {
  display: none;
}
.cp_ipselect:after {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.cp_sl02_selectlabel {
  color: rgba(0,0,0, 0.5);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  transition: 0.2s ease all;
}
.cp_sl02:focus ~ .cp_sl02_selectlabel, .cp_sl02:valid ~ .cp_sl02_selectlabel {
  color: #da3c41;
  top: -20px;
  transition: 0.2s ease all;
  font-size: 14px;
}
.cp_sl02_selectbar {
  position: relative;
  display: block;
  width: 100%;
}
.cp_sl02_selectbar:before, .cp_sl02_selectbar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #da3c41;
  transition: 0.2s ease all;
}
.cp_sl02_selectbar:before {
  left: 100%;
}
.cp_sl02_selectbar:after {
  right: 50%;
}
.cp_sl02:focus ~ .cp_sl06_selectbar:before, .cp_sl06:focus ~ .cp_sl06_selectbar:after {
  width: 50%;
}
.cp_sl02_highlight {
  position: absolute;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}



input[type="submit"]{
  appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}
input[type="submit"]{
  position: relative;
  display: block;
  padding: 1em 2em 1em 1em;
  width: 175px;
  color: #fff;
    line-height: 1;
  text-align: center;
  background: #5bbee5;

  border-radius: 1.5em;

  top: 10px;
  left: 550px;
}






/* 病院の紹介文 */
.box {
    position: relative;
    background:#fcfcff;
    padding:15px;
    border:1px solid #3b5998;
    border-radius:10px;
    word-break:break-all;

    top:200px;
    right: 150px;
    min-height: 200px;
    width: 800px;
    font-size: 30px;

    padding-bottom: 20px;
  }





/* 診療時間・休診日 */
.hos-time{
    position: relative;
    padding: 20px;
    top:200px;
    right: 70px;
}

.hos-kyushin-label{
    position: relative;
    top: 10px;
    right: 100px;
}


.hos-kyushin-info-label{

}


/* 休診日テーブル */
.kyushin{
    position: relative;
    top: 200px;
    width: 800px;
    padding-bottom: 20px;
    right: 150px;
}

table.kyushin th{
    position: relative;
    /* border-bottom-width: 3px; */
    border-bottom: 1px solid #222;
    background-color:#D9D9D9;
}

table.kyushin td{
    position: relative;
    border-bottom: 1px solid #222;

}

table.kyushin td.waku{
    border-right: 1px solid #222;
}




/* 診療時間詳細 */
.syousai {
    position: relative;
    background:#fcfcff;
    padding:15px;
    border:1px solid #3b5998;
    border-radius:10px;
    word-break:break-all;

    top:250px;
    right: 150px;
    min-height: 200px;
    width: 800px;
    font-size: 30px;
  }





/* 受付状況 */

.hos-jokyo{
    position: relative;
    top:1000px;
}



.hos-jokyo-label{

}


/* 受付状況テーブル */
.zyokyo{
    position: relative;
    top: 1000px;
}

table.kyushin th{
    position: relative;
    /* border-bottom-width: 3px; */
    border-bottom: 1px solid #222;
}

table.kyushin td{
    position: relative;
    border-bottom: 1px solid #222;

}

table.kyushin td.waku{
    border-right: 1px solid #222;
}

.icon-zyusyo{
    position: relative;
    top: 40px;
    right:40px;
}
/* 住所・地図 */
.hos-jusyo{
position: relative;
top: 300px;
right: 121px;
}


.hos-jusyo-label{
    position: relative;
    position: relative;
}



.hos-jusyo-info-label{
    position: relative;
    font-size: 30px;
}





.map{
    position: relative;
    top: 300px;
    right: 150px;

    border:1px solid #3b5998;
    word-break:break-all;
}









/* 下の空白 */
.void{
    position: relative;
    background-color: #FFFFFF;
    top:300px;
    height: 50px;
    
}