body{
    background-color:#bbb;
}

.rogo{
    display: table;
    position: relative;

    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);  

    top:100px;
}

.login-moji{
    display: table;
    position: relative;

    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    color: green;

    top:150px;

    font-size: 50px;
}

.mail-moji{
    display: table;
    position: relative;

    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    top:200px;
}

.mail{
    position: relative;

    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    top:200px;
}

.pass-moji{
    display: table;
    position: relative;

    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    top:200px;
}

.pass{
    position: relative;

    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    top:200px;
}

#login{
    display: table;
    position: relative;

    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    top:210px;
}

#cant-login{
    display: table;
    position: relative;

    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    top:250px;
}

.acount-mottenai{
    display: table;
    position: relative;

    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    top:350px;
}

#acount-sakusei{
    position: relative;

    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    top:350px;
}