.unko{
    position: relative;
    display: table;
    top: 50px;
    width: px;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

}

.rogo{
    position: absolute;
    width: 249px;
    height: 69px;
    left: 42px;
    top: 30px;
}

/* ---------------------------- */
.container{

    top: 18%;
}

.main{/*登録完了致しました*/
    position: absolute;

    top: 50%;
    
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.btn{/*ログイン画面へ*/
    position: relative;
    top: 30px;
    left: 11%;
    height:50px;
    width:200px;
    
    background: #FFFFFF;
}